* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}

.left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.header>h2 {
    margin: 0;
    color: #4f46a5;
}

.header>h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, .4);
}

.form {
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.form>p {
    text-align: right;
}

.form>p>a {
    color: #000;
    font-size: 14px;
}